@import './fonts.scss';

body {
	background-image: url(/base-setting-for-Gulp/src/img/02.jpg);
	background-color: #000;


	h1 {
		color: red;

		@media (max-width:767px) {
			color: green;
		}
	}

	h2 {
		color: yellow;

		@media (max-width:767px) {
			color: white;
		}
	}

	@media (max-width:767px) {
		background-color: #000;
	}

	div {
		display: grid;
	}

	.flex {
		display: flex;
	}

}